# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\xampp\htdocs\ballett_database_webapp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
**.idea/*
**.idea
*.iml
/dataSources/8fb9c666-9f98-40a5-a01d-b42f71ac52ca.xml
/dataSources/8fb9c666-9f98-40a5-a01d-b42f71ac52ca/storage_v2/_src_/schema/ballett.Rk_N6w.meta
/dataSources/8fb9c666-9f98-40a5-a01d-b42f71ac52ca/storage_v2/_src_/schema/ballett.Rk_N6w.zip
/dataSources.xml
/dataSources/8fb9c666-9f98-40a5-a01d-b42f71ac52ca/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/misc.xml
/modules.xml
/vcs.xml
